# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/

# Build
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (not used, but just in case)
Pods/
